/arditsulce-1/app1/my-todo-app/
/arditsulce-1/app2/.idea/.gitignore
/arditsulce-1/app3/.idea/.gitignore
/arditsulce-1/app2/.idea/app2.iml
/arditsulce-1/app3/.idea/app3.iml
/arditsulce-1/app2/.idea/misc.xml
/arditsulce-1/app3/.idea/misc.xml
/arditsulce-1/app2/.idea/modules.xml
/arditsulce-1/app3/.idea/modules.xml
/arditsulce-1/app2/.idea/inspectionProfiles/profiles_settings.xml
/arditsulce-1/app3/.idea/inspectionProfiles/profiles_settings.xml
/arditsulce-1/app1/Sec19-exercises.py
/arditsulce-1/app2/.idea/vcs.xml
/arditsulce-1/app3/.idea/vcs.xml
/arditsulce-1/app1/my-portfolio/.idea/workspace.xml
